<nav>
    <div class="nav-left">
        <a href="{{ path('app_home') }}">Moulin des pierres</a>
        {# <img class="logo-site" src="{{ asset('img/logoferme.webp') }}" alt=""> #}
    </div>
    <div class="nav-center">
        <a href="{{ path('app_home') }}">Accueil</a>
        <a href="{{ path('app_fruits') }}" class="{% if app.request.attributes.get('_route') == 'app_fruits' %}active{% endif %}">Fruits</a>
        <a href="{{ path('app_legumes') }}" class="{% if app.request.attributes.get('_route') == 'app_legumes' %}active{% endif %}">Légumes</a>
        <a href="javascript:void(0)" class="toggle-cart">Panier</a>
        {# <a href="{{ path('app_cart') }}">🛒Panier</a>  #}
        {# <a href="{{ path('app_calendar') }}">Calendrier</a> #}
        <a href="{{ path('contact') }}">Contact</a>
    </div>
    <div class="nav-right">
        {% if not app.user %}
            <a href="{{ path('app_register') }}" id="register">Inscription</a>
        {% endif %}
        {% if app.user %}
            <a href="{{ path('app_logout') }}" id="logout">Déconnexion</a>
        {% else %}
            <a href="{{ path('app_login') }}" id="login">Connexion</a>
        {% endif %}
    </div>
</nav>
