<!DOCTYPE html>
<html>
    <head>
        {# <script src="/tarteaucitron/tarteaucitron.js"></script>
        <script src="{{ asset('js/tarteAuCitron.js') }}"></script> #}

        <meta charset="UTF-8">

        {% block metaDescription %}
        <meta name="description" content=" ">
        {% endblock %}

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {# Token CSRF pour les requêtes AJAX #}
        <meta name="csrf-token" content="{{ csrf_token('csrf_token_id') }}">
        <title>{% block title %}Bienvenue{% endblock %}</title>
        {# <link rel="icon" href="{{ asset('img/') }}"> #}
        
        {# CSS #}
        <link rel="stylesheet" href="{{ asset('css/cartCss.css') }}">
        <link rel="stylesheet" href="{{ asset('css/home.css') }}">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        {# FONTS #}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
        {# SCRIPT #}

        {% block stylesheets %}
        {% endblock %}

    </head>

    <body>

        <div id="wrapper">

            {% include "_partials/_nav.html.twig" %}

            {% block body %}{% endblock %}

            {% include "_partials/_footer.html.twig" %}

        </div>

        {% include "_partials/_panier.html.twig" %}
      

    {% block javascripts %}
    {% if app.request.get('_route') == 'app_home' %}
        <script src="{{ asset('js/carrousel.js') }}"></script>
    {% endif %}
    <script src="{{ asset('js/ajaxCart.js') }}"></script>
    <script src="{{ asset('js/panier.js') }}"></script>
    <script src="{{ asset('js/calendar.js') }}"></script>
    {% endblock %}

    </body>

</html>
